@font-face {
    font-family: 'AddingtonCF';
    src: url('AddingtonCF-Regular.woff') format('woff'),
    url('AddingtonCF-Regular.woff2') format('woff2')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: 'AddingtonCF';
    text-align: center;
    font-size: 20px;
    color: #111;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
}

h1 {
    font-weight: 400;
} 
h2 {
    font-weight: 400;
}

p {
    margin: 1rem 0;
    line-height: 1.5;
}

a {
    display: block;
    padding: .75rem 0;
    border: 1px solid black; 
    margin: 2rem 0 1rem;
    text-decoration: none;
}

a:hover,
a:link,
a:visited {
    color: #111;
    text-decoration: none;
}

.note {
    font-size: 0.75rem;
    text-align: left;
}

input {
    width: 80%;
    padding: .5rem;
}

button {
    font-size: 1.5rem;
    width: 80%;
    padding: .5rem;
}

.hidden {
    display: none;
}

.social-share {
    display: inline;
    font-size: .75rem;
}